* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

@media (min-width:320px) and (max-width:767px) {
    .bio{
        width: 90% !important;
    }
}

.main-container{
    background-image: url("/images/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile{
    margin: 20px;
}

.profile img {
    border-radius: 50% 50% 0% 50%;
    width: 100px;
}

.bio{
    color: #fffefc;
    margin: 20px;
    text-align: justify;
    width: 600px;
}

.square img {
    border-radius: 20px;
    width: 100px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 15px;
}

.text {
    text-align: center;
    color: #a9a9a9;
}

.footer {
    margin: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fffefc;
}

.m_20 {
    margin: 20px;
}